.product-image-selected{
    img{
        max-width: 100%;
        height: auto;
    }
}

.product-images-thumbs{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 24px 0;
    padding: 24px 0 0 0;
    list-style: none;

    li{
        width: 17%;
        margin-left: 1%;

        &:first-child{
            margin-left: 0;
        }

        img{
            max-width: 100%;
            height: auto;
        }

        a{
            transition: opacity .25s ease;

            &:hover,
            &.active{
                opacity: .55;
            }
        }
    }
}

.update-qty-btn{
    border: 0;
    background-color: transparent;
    padding: 0;
    transition: opacity .25s ease;

    &:hover{
        opacity: .65
    }

    svg{
        width: 20px;
        height: 20px;
        margin-left: 6px;
    }
}

.qty-cell form{
    display: flex;
    flex-direction: row;
}

.cart-qty{
    width: 70px;
}

.shipping-taxes-loader{
    display: block;
    padding: 12px;
    position: relative;

    &.loading{

        &:before{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255,255,255, .5);
            z-index: 1;
        }
        &:after{
            display: inline-block;
            width: 30px;
            height: auto;
            color: #fff;
            content: url('data:image/svg+xml; utf8, <svg focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"></path></svg>');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: spinning 1.5s linear infinite;
            z-index: 2;
        }
    }
}

.fa-spinner-third{
    fill: #ffffff;
}

.order-summary-block{
    position: sticky;
    top: 32px;
}

.checkout-step{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding: 12px 0;
    color: #999;
    font-size: 1.25rem;
    transition: color .35s ease;

    &:first-child{
        flex-grow: inherit;
    }

    .checkout-step-number{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        border-radius: 50%;
        text-align: center;
        line-height: 29px;
        border: 1px solid #999;
        transition: border-color .35s ease, color .35s ease;;
    }

    .step-div{
        display: block;
        flex-grow: 1;
        width: 50px;
        height: 3px;
        background-color: #eee;
        margin: 0 12px;
        transition: background-color .35s ease;
    }

    &.current{

        color: #007bff;

        .checkout-step-number{
            border-color: #007bff;
        }

        .step-div{
            background-color: #007bff;
        }
    }
}

.checkout-steps{
    margin-bottom: 32px;

    .inner{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.checkout-steps-wrap{
    margin-bottom: 48px;
}

.shipping-rates-list{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

@keyframes spinning {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
