.product-image-selected img {
  max-width: 100%;
  height: auto;
}

.shoppe-breadcrumbs ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  font-size: 16px;
}

.shoppe-breadcrumbs ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 0 2px;
  verical-align: middle;
}

.shoppe-breadcrumbs ul li .crumb-div {
  display: inline-block;
  padding: 2px 3px;
  font-size: 22px;
  vertical-align: unset;
  line-height: .5;
  color: #999;
}

.shoppe-breadcrumbs ul li .current-crumb {
  display: inline-block;
  padding-left: 3px;
  verical-align: middle;
  color: #888;
}

.product-term-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-term-list li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color .25s ease;
}

.product-term-list li a:hover {
  background-color: #f3f3f3;
}

.product-term-list li.has-children.open > ul {
  display: block;
}

.product-term-list li ul {
  display: none;
  margin: 0;
  padding: 0 0 0 18px;
  list-style: none;
}

.category-col {
  padding: 12px;
}

.category-col .inner {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.category-col .inner a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color .15s ease, color .25s ease;
}

.category-col .inner a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #111;
}

.product-col {
  padding: 12px;
}

.product-col .inner img {
  max-width: 100%;
  height: auto;
}

.section-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.section-card header {
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.section-card header h3 {
  font-size: 20px;
  margin: 0;
}

.section-card .inner {
  padding: 18px 24px;
  position: relative;
  overflow: hidden;
}

.section-card.side-card header {
  padding: 18px 24px;
}

.section-card.side-card header h3 {
  font-size: 18px;
  margin: 0;
}

.checkout-prev-btn {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.product-images-thumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 24px 0;
  padding: 24px 0 0 0;
  list-style: none;
}

.product-images-thumbs li {
  width: 17%;
  margin-left: 1%;
}

.product-images-thumbs li:first-child {
  margin-left: 0;
}

.product-images-thumbs li img {
  max-width: 100%;
  height: auto;
}

.product-images-thumbs li a {
  transition: opacity .25s ease;
}

.product-images-thumbs li a:hover, .product-images-thumbs li a.active {
  opacity: .55;
}

.update-qty-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  transition: opacity .25s ease;
}

.update-qty-btn:hover {
  opacity: .65;
}

.update-qty-btn svg {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

.qty-cell form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-qty {
  width: 70px;
}

.checkout-steps-wrap {
  position: relative;
}

.checkout-steps-wrap.loading:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.checkout-steps-wrap.loading:after {
  display: inline-block;
  width: 30px;
  height: auto;
  color: #fff;
  content: url('data:image/svg+xml; utf8, <svg focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"></path></svg>');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: spinning 1.5s linear infinite;
          animation: spinning 1.5s linear infinite;
  z-index: 2;
}

.checkout-adv-btn.disabled {
  cursor: not-allowed;
  opacity: .65;
}

.sticky-card {
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
}

.shipping-taxes-loader {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.shipping-taxes-loader dt {
  width: 70%;
  color: #777;
  font-size: 14px;
}

.shipping-taxes-loader dd {
  width: 30%;
  color: #777;
  padding-left: 12px;
  font-size: 14px;
  text-align: right;
}

.shipping-taxes-loader.loading:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.shipping-taxes-loader.loading:after {
  display: inline-block;
  width: 30px;
  height: auto;
  color: #fff;
  content: url('data:image/svg+xml; utf8, <svg focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"></path></svg>');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: spinning 1.5s linear infinite;
          animation: spinning 1.5s linear infinite;
  z-index: 2;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.1em;
  vertical-align: middle;
  margin-top: -5px;
}

.checkout-total {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 24px;
  border-top: 1px solid #ececec;
  margin-bottom: 6px;
}

.checkout-total dt {
  width: 50%;
  color: #777;
  font-size: 18px;
  text-transform: uppercase;
}

.checkout-total dd {
  width: 50%;
  color: #999;
  padding-left: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.checkout-total dd:last-of-type {
  margin-bottom: 0;
}

.checkout-total dd .total {
  color: #777;
}

.fa-spinner-third {
  fill: #ffffff;
}

.order-summary-block {
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
}

.cart-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  color: #888;
  padding-top: 6px;
  padding-bottom: 20px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.cart-summary .form-text {
  margin: 0;
}

.cart-summary dt {
  width: 70%;
  display: flex;
  flex-direction: row;
  color: #777;
  justify-content: space-between;
  padding-right: 12px;
  margin-bottom: 12px;
}

.cart-summary dt:last-of-type {
  margin-bottom: 0;
}

.cart-summary dd {
  width: 30%;
  text-align: right;
  color: #999;
}

.cart-summary dd:last-of-type {
  margin-bottom: 0;
}

.password-toggle {
  display: block;
  color: #333;
}

.password-toggle svg {
  pointer-events: none;
  fill: #333;
}

.shipping-service-summary {
  display: block;
  font-size: 13px;
  color: #999;
  margin-bottom: 6px;
}

.shipping-address-summary {
  visibility: visible;
  border: 1px solid #C6F6D5;
  background-color: #F0FFF4;
  padding: 12px 14px;
  font-size: 14px;
  color: #38A169;
  border-radius: 3px;
  position: relative;
  opacity: 1;
  transition: opacity .5s ease;
}

.shipping-address-summary h4 {
  color: #444;
  font-size: 14px;
  font-weight: 700;
  color: #2F855A;
  text-transform: uppercase;
  margin: 0;
}

.shipping-address-summary.hide-me {
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease;
}

.checkout-messages {
  padding: 12px;
  color: #C53030;
  text-align: center;
  margin-bottom: 12px;
  border: 1px solid #C53030;
  border-radius: 3px;
}

.checkout-messages:empty {
  display: none;
}

.new-shipping-address {
  padding-top: 24px;
}

.checkout-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  color: #999;
  font-size: 1.25rem;
  transition: color .25s ease;
}

.checkout-step:first-child {
  flex-grow: inherit;
}

.checkout-step .checkout-step-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 29px;
  border: 1px solid #999;
  transition: border-color .35s ease, color .25s ease;
}

.checkout-step.current {
  color: #007bff;
}

.checkout-step.current .checkout-step-number {
  border-color: #007bff;
}

.checkout-step.done {
  color: #28a745;
}

.checkout-step.done .checkout-step-number {
  border-color: #28a745;
}

.checkout-step.done .step-div {
  background-color: #28a745;
}

.checkout-steps {
  margin-bottom: 32px;
}

.checkout-steps .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
}

.checkout-steps .step-div {
  display: block;
  flex-grow: 1;
  height: 3px;
  background-color: #eee;
  margin: 0 12px;
  transition: background-color .35s ease;
}

.checkout-steps-wrap {
  margin-bottom: 48px;
}

.checkout-form-section {
  display: none;
}

.checkout-form-section.current {
  display: block;
}

.visible-hide {
  visibility: hidden;
  display: none;
}

.visible-show {
  visibility: visible;
}

.checkout-set-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.checkout-set-actions .btn:last-of-type {
  margin-left: auto;
}

.block-check-label label {
  display: block;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid #ececec;
  cursor: pointer;
  color: #555;
  transition: background-color .25s ease;
}

.block-check-label label:hover {
  background-color: #f3f3f3;
}

.block-check-label input[type="radio"]:checked + label {
  background-color: #F0FFF4;
  border-color: #C6F6D5;
  color: #2F855A;
}

.block-check-label input[type="radio"]:checked + label:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #2F855A;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"></path></svg>');
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -3px;
  position: relative;
}

.block-check-label [type="radio"] {
  display: none;
}

.block-check-label:last-child {
  margin-bottom: 0;
}

.shipping-rates-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.shipping-rates-list li.rate-item input[type="radio"] {
  display: none;
}

.shipping-rates-list li label {
  display: flex;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid #ececec;
  cursor: pointer;
  color: #555;
  transition: background-color .25s ease;
}

.shipping-rates-list li label:hover {
  background-color: #f3f3f3;
}

.shipping-rates-list li input[type="radio"]:checked + label {
  background-color: #F0FFF4;
  border-color: #C6F6D5;
  color: #2F855A;
}

.shipping-rates-list li input[type="radio"]:checked + label:before {
  width: 16px;
  height: 16px;
  display: block;
  padding-top: 4px;
  color: #2F855A;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"></path></svg>');
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -1px;
  position: relative;
}

.shipping-rates-list li input[type="radio"]:checked + label .rate-estimated-days {
  color: #38A169;
}

.shipping-rates-list li svg {
  width: 18px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: spinning 1.5s linear infinite;
          animation: spinning 1.5s linear infinite;
}

.shipping-rates-list li span.getting-rates {
  display: inline-block;
  vertical-align: super;
}

.rate-estimated-days {
  font-size: 14px;
  color: #999;
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
}

.customer-nav ul {
  display: block;
  margin: 0 0 24px 0;
  padding: 0 0 0 32px;
  list-style: none;
}

.customer-nav ul li {
  margin-bottom: 4px;
}

.customer-nav ul li a {
  display: block;
  padding: 6px 10px;
  transition: opacity .25s ease;
  text-decoration: none;
}

.customer-nav ul li a:hover {
  opacity: .35;
}

.customer-nav ul li.active a {
  background-color: #ececec;
}

.customer-address-edit-list,
.payment-types-list {
  display: block;
  margin: 0 0 24px 0;
  padding: 0;
  list-style: none;
}

.customer-address-edit-list li,
.payment-types-list li {
  margin: 0 0 6px 0;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.customer-address-edit-list li > a,
.payment-types-list li > a {
  text-decoration: none;
  display: block;
  padding: 6px 32px 6px 12px;
  background-color: #fff;
  transition: background-color .25s ease;
  position: relative;
}

.customer-address-edit-list li > a:hover,
.payment-types-list li > a:hover {
  background-color: #ececec;
}

.customer-address-edit-list li > a span.default,
.payment-types-list li > a span.default {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  z-index: 1;
}

.customer-address-edit-list li > a span.default svg,
.payment-types-list li > a span.default svg {
  width: 16px;
  height: 16px;
  vertical-align: inherit;
}

.edit-customer-address-fields,
.new-customer-shipping-address,
.edit-customer-payment-fields,
.new-customer-payment {
  background-color: #fff;
  padding: 24px;
}

.new-customer-shipping-address,
.new-customer-payment {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.choose-stored-payment-list {
  display: block;
  margin: 0 0 32px 0;
  padding: 0;
  list-style: none;
}

.choose-stored-payment-list li label {
  display: flex;
  padding: 10px 12px;
  border-radius: 3px;
  border: 1px solid #ececec;
  cursor: pointer;
  color: #555;
  transition: background-color .25s ease;
}

.choose-stored-payment-list li label:hover {
  background-color: #f3f3f3;
}

.choose-stored-payment-list li input[type="radio"] {
  display: none;
}

.choose-stored-payment-list li input[type="radio"]:checked + label {
  background-color: #F0FFF4;
  border-color: #C6F6D5;
  color: #2F855A;
}

.choose-stored-payment-list li input[type="radio"]:checked + label:before {
  width: 16px;
  height: 16px;
  display: block;
  padding-top: 4px;
  color: #2F855A;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"></path></svg>');
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -1px;
  position: relative;
}

.choose-stored-payment-list li input[type="radio"]:checked + label .rate-estimated-days {
  color: #38A169;
}

.choose-stored-payment-list li svg {
  width: 18px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: spinning 1.5s linear infinite;
          animation: spinning 1.5s linear infinite;
}

@-webkit-keyframes spinning {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
